<div class="editor_container">
  <input class="input_editor First" type="text/css" [value]="this.product.nombre" #name>
  <p class="titulito">Precio</p>
  <input class="input_editor"type="number" [value]="this.product.precio" #price>
  <p class="titulito">Distribuidor</p>
  <select name="distribuidor" #distribuidor>
    <option [value]="this.product.distribuidor" selected disabled hidden>{{this.product.distribuidor}}</option>
    <option value="Pan Eutimio">Pan Antonio</option>
    <option value="Bolleria Eutimio">Fruta</option>
    <option value="Pan Iryna">Pan Iryna</option>
    <option value="Bolleria Iryna">Bolleria Iryna</option>
    <option value="Otros">Otros</option>
  </select>
  <input class="confirmButton"  type="submit" (click)="postChanges(name.value,price.value,distribuidor.value)" value="Confirmar Cambios">
  <input class="deleteButton"  type="submit" (click)="deleteProduct()" value="Eliminar Producto">
</div>
