.editor_container{
  border-radius: 7px;
  border: solid black 3px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.input_editor{
  background-color: #e6e1e1;
  text-transform: capitalize;
}
.First{
  border: solid black 3px;
  border-radius: 0px;
  font-weight: bold;
  transform: scale(1.2);
  text-align: center;
}
.confirmButton{
  background-color: #ffc15a;
}
.titulito{
  font-weight: bold;
  align-self: left;

}
.deleteButton{
  background-color: rgba(243, 88, 88, 0.664);
}
