<div class="pedido">
    <div class="pedido_container">

        <p>{{ pedido.nombre }}</p>
        <p>{{ pedido.fecha }}</p>
        <div *ngFor="let item of this.pedido.productos" class="flex color">

            <p >{{item.cantidad}} {{item.nombre}}
                          {{item.precio *
                item.cantidad | number}}€
            </p>
            <button (click)="deleteItem(item)" class="button_pedido">-</button>
        </div>
    </div>

    <input class="Button" (click)="sendPedido()" type="submit" value="confirmar Pedido">
</div>