.alerta {
  color: red;
}
.pedido_container {
  margin: 2rem;
}

.pedido input {
  width: 60%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.button_pedido {
  border-style: none;
  border-radius: 5px;
  width: 30px;
}
