<div class="pedido">
    <div class="pedido_container">

        <p>{{ pedido.nombre }}</p>
        <p>{{ pedido.fecha }}</p>
        <div *ngFor="let item of this.pedido.pan" class="flex">

            <p >{{item.cantidad}} {{item.tipo}} {{item.masa}} {{item.peso}}g
                {{item.precio *
                    item.cantidad}}€
            </p>
            <button (click)="deleteItem(item)" class="button_pedido">-</button>
        </div>
    </div>

    <input (click)="sendPedido()" type="submit" value="confirmar Pedido">
</div>