  <div class="navbar_productos">
    <ul class="flex organizacion">
        <li class="flex">
                <p class="name_title">Antonio</p>
                <div class="flexColum">
                    <a (click)="navigateToPanEutimio()">Pan</a>
                    <a (click)="navigateTobolloEutimio()">Fruta</a>
                </div>

        </li>
        <li class="flex">
            <p class="name_title">Irina</p>
            <div class="flexColum">
                <a (click)="navigateToPanIryna()">Pan</a>
                <a (click)="navigateTobolloIryna()">Bollos</a>
            </div>
        </li>
        <li>
          <a (click)="navigateToOtros()">Otros</a>
        </li>
    </ul>
</div>
<app-pedido-actual [pedido]="this.pedido" class="pedidoActual_container"></app-pedido-actual>
<input class="confirmButton Botton_Edit"  type="submit" (click)="NavigateToCHanges()" value="Editar Productos">
<div class="main_container_pan flexColum">



    <h1 class="Arreglo" id="panEutimio">Pan Antonio</h1>
    <div class="products_panes">
        <app-pan class="pan" *ngFor="let pan of panEutimio" [pan]="pan" (panAñadido)="addPanToPedido( $event )"></app-pan>
    </div>
    <h1 id="panIrina"class="Arreglo">Pan Iryna</h1>
    <div class="products_panes">
        <app-pan class="pan" *ngFor="let pan of panIryna" [pan]="pan" (panAñadido)="addPanToPedido( $event )"></app-pan>
    </div>
    <h1 id="bolloEutimio"class="Arreglo">Fruta</h1>
    <div class="products_panes">
        <app-pan class="pan" *ngFor="let pan of bolleriaEutimio" [pan]="pan" (panAñadido)="addPanToPedido( $event )"></app-pan>
    </div>
    <h1 id="bolloIryna"class="Arreglo">Bolleria Iryna</h1>
    <div class="products_panes">
        <app-pan class="pan" *ngFor="let pan of bolleriaIryna" [pan]="pan" (panAñadido)="addPanToPedido( $event )"></app-pan>
    </div>
    <h1 id="Otros"class="Arreglo">Otros</h1>
    <div class="products_panes">
        <app-pan class="pan" *ngFor="let pan of otros" [pan]="pan" (panAñadido)="addPanToPedido( $event )"></app-pan>
    </div>

</div>
