.organizacion {
  margin-top: 4vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.organizacion a {
  cursor: pointer;
  margin: 8px;
}

.main_container_pan {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 20vh;
}
.pedidoActual_container {
  position: fixed;
  right: 0;
  max-height: 80%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffc15a;
  color: black;
}

.products_panes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}
.Arreglo {
  padding-top: 27vh;
}

.pan {
  margin: 20px;
}
.navbar_productos {
  position: fixed;
  border-radius: 20px;
  width: 70%;
  height: 10vh;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}
.name_title {
  border-right-color: black;
  border-right-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
}
