
<div class="pedidos_container">


    <div class="pedidos_header_container">

        <h1 class="pedidos_title">Pedidos</h1>
        <input class="submitButton" (click)="getPedidos()" type="submit"
            value="todos">
            <p> </p>
        <div  class="pedidos_shearch_container">
            <input type="text" onfocus="(this.type='date')" [value]="this.fecha" onblur="(this.type='text')" #date>
            <input class="submitButton" (click)="buscarPorFecha(date.value)" type="submit"
            value="buscar">
        </div>
    </div>


    <input class="submitButton" (click)="getConjunto()" value="Hacer conjunto" type="submit">
    <div *ngIf="conjunto != undefined" class="tabla_conjunto">
        <table>
            <tr>
                <th><strong>Producto</strong></th>
                <th><strong>Precio Unidad</strong></th>
                <th><strong>Cantidad</strong></th>
                <th><strong>Precio</strong></th>
            </tr>
            <tr>
                <h3>Eutimio</h3>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr *ngFor="let item of eutimioConjunto">
                <td>{{ item.nombre }} </td>
                <td>{{ item.precio }} </td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.cantidad * item.precio | number }}€</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td><strong>Total Eutimio </strong></td>
                <td></td>
                <td></td>
                <td>{{sumaTotalEutimio | number}}€</td>
            </tr>
            <tr>
                <h3>Iryna</h3>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr *ngFor="let item of irynaConjunto">
                <td>{{ item.nombre }} </td>
                <td>{{ item.precio }} </td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.cantidad * item.precio | number}}€</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td><strong>Total Iryna </strong></td>
                <td></td>
                <td></td>
                <td>{{sumaTotalIryna | number}}€</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td><strong>Otros</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let item of otrosConjunto">
                <td>{{ item.nombre }} </td>
                <td>{{ item.precio }} </td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.cantidad * item.precio | number}}€</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td><strong>Total Otros </strong></td>
                <td></td>
                <td></td>
                <td>{{sumaTotalOtros | number}}€</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td>{{sumaTotal | number}}€</td>
            </tr>
        </table>
    </div>
    <div class="sepparator">

        <br>
        <hr>
        <br>
        <hr>
        <br>
    </div>

    <div *ngFor="let pedido of pedidos" >
        <div class="pedido">

            <div class="pedido_nombre">
                <h4>{{ pedido.nombre }}</h4>
                <h4>id: {{pedido.pedidoId}}</h4>
                <br>
                <h4>{{ pedido.fecha }}</h4>
                <input class="submitButton" (click)="deletePedido(pedido)" value=" Eliminar Pedido" type="submit">
            </div>
            <table>
                <tr>
                    <th><strong>Producto</strong></th>
                    <th><strong>Precio Unidad</strong></th>
                    <th><strong>Cantidad</strong></th>
                    <th><strong>Precio</strong></th>
                </tr>

                <tr *ngFor="let item of pedido.productos">
                    <td *ngIf="productById(item._id) != undefined">{{ productById(item._id).nombre }}</td>
                    <td *ngIf="productById(item._id) != undefined">{{ productById(item._id).precio }}</td>
                    <td *ngIf="productById(item._id) != undefined">{{ item.cantidad }}</td>
                    <td *ngIf="productById(item._id) != undefined">{{ item.cantidad * productById(item._id).precio | number}}€</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td><strong>Total </strong></td>
                    <td></td>
                    <td></td>
                    <td>{{pedido.precioTotal | number}}€</td>
                </tr>

            </table>
        </div>
        <div class="sepparator">
            <hr>
        </div>
    </div>

</div>
