.pedidos_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
}
.pedidos_header_container {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pedidos_title {
  flex: 2;
  text-align: center;
  margin-top: 20px;
}
.pedido {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2vh;
}
table {
  width: 50vw;
  text-align: center;
}
.tabla_conjunto {
  width: 80%;
  margin: auto;
  transform: translateX(17%);
}
.submitButton {
  background-color: #ffc15a;
  border: none;
}
.sepparator {
  width: 80%;
}
